MQTT_HOST=xxxx.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USER=usernameHiveMQ
MQTT_PASS=passwordHiveMQ
MQTT_TOPIC=maggot/sensor
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/maggot_farm
JWT_SECRET=random_secret_string_minimal_32_karakter
PORT=3001
CLIENT_URL=http://localhost:5173
